@model IdentityUserVM
@{
    ViewData["Title"] = "Account";
}

<div>
    <h2 style="display: inline-block">Account </h2>
    @if (User.IsInRole(Roles.Rater))
    {
        <span class="badge badge-warning" style="vertical-align:top">Rater</span>
    }
    else if (User.IsInRole(Roles.ContentManager))
    {
        <span class="badge badge-info" style="vertical-align:top">Content Manager</span>

    }
    else if (User.IsInRole(Roles.Administrator))
    {
        <span class="badge badge-dark" style="vertical-align:top">Administrator</span>

    }
</div>
<br />
<div class="container h-100">
    <section>
        <h4>Information</h4>
        <hr />
        <div class="row">
            <div class="col-6">
                <form asp-controller="Account" asp-action="ChangeUsername">
                    <div class="form-group row justify-content-between">
                        <div class="col-3">
                            <label class="form-label" asp-for="UserName"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control form-control-sm" asp-for="UserName" value="@Model.UserName" />
                        </div>
                        <div class="col-4">
                            <input class="form-control btn btn-outline-primary btn-sm btn-block" type="submit" value="Change Username" />
                        </div>
                    </div>
                </form>

                <form asp-controller="Account" asp-action="ChangeEmail">
                    <div class="form-group row justify-content-between">
                        <div class="col-3">
                            <label class="form-label" asp-for="Email"></label>
                        </div>
                        <div class="col-5">
                            <input class="form-control form-control-sm" asp-for="Email" value="@Model.Email" />
                        </div>
                        <div class="col-4">
                            <input class="form-control btn btn-outline-primary btn-sm" type="submit" value="Change Email" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <br />
    <section>
        @if (User.IsInRole(Roles.Rater))
        {
            <div class="jumbotron text-center">
                <h2>Upload your favorite content.</h2>
                <h5>Apply for Content Manager!</h5>
                <p>Choose a movie poster, add your description, share a trailer and let people know about your favorite movie!</p>
                <a class="btn btn-success" asp-controller="Account" asp-action="UpgradeRole" asp-route-id="@Model.Id">Apply</a>
            </div>

        }
        else if (User.IsInRole(Roles.ContentManager))
        {
            <div class="jumbotron text-center">
                <h3>Whould you like to stop sharing content?</h3>
                <h6>Donwgrade to rater!</h6>
                <a class="btn btn-danger" asp-controller="Account" asp-action="DowngradeRole" asp-route-id="@Model.Id">Downgrade</a>
            </div>
        }

    </section>

</div>
