@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>
<br />
<div class="container h-100">
    <section>
        <h4>Information</h4>
        <dl>
            <dt>
                Username
            </dt>
            <dd>
                Geomimo
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                mimoglou22@gmail.com
            </dd>
        </dl>
    </section>
    <br />

    <section>
        <h4>Apply for Registrator</h4>
        <a class="btn btn-outline-success">Apply</a>
    </section>

</div>
