@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "_EditPostButtonPartial";
    var postId = ViewBag.PostId;
}

@if (User.IsInRole(Roles.ContentManager))
{
    
    <div class="d-inline ml-2">
        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@postId">
            Edit
        </a> |
        <a asp-controller="Posts" asp-action="Delete" asp-route-id="@postId">
            Delete
        </a>
    </div>
    
}

