@using Microsoft.AspNetCore.Identity

<li>
    @if (User.IsInRole(Roles.Rater) || User.IsInRole(Roles.ContentManager))
    {
        <a class="nav-link" asp-controller="Recommendations" asp-action="Index">Recommendations</a>
    }
</li>