@using Microsoft.AspNetCore.Identity


@if (User.IsInRole(Roles.ContentManager))
{
    <li>
        <a class="nav-link" asp-controller="" asp-action="">Your Posts</a>
    </li>
    <li>
        <a class="nav-link" asp-controller="Posts" asp-action="Create">New Post <i class="fa fa-plus"></i></a>
    </li>
}
