@using Microsoft.AspNetCore.Identity

<li>
@if(User.IsInRole(Roles.Rater) || User.IsInRole(Roles.ContentManager))
{
    <a class="nav-link" asp-controller="Ratings" asp-action="Index">Your Ratings</a>
}
</li>