@model IEnumerable<Moviet.Models.GenreVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Rename" asp-route-id="@item.GenreId"><i class="fa fa-pencil"></i> Rename</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.GenreId"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
